{% extends "layouts/base_stud.html" %}

{% block title %} Dashboard {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<h1>Study material for {{enrolled_class_id}}</h2>
<table class="table table-borderless">
        <tr>
            <td><a href="{% url 'student_view_pdf' enrolled_class_id %}">
              <i class="fa fa-folder" style="font-size:48px;"> | PDF</i></a></td>
            <td><a href="{% url 'student_view_videos' enrolled_class_id %}"><i class="fa fa-folder" style="font-size:48px;"> | Videos</i></a></td>
        </tr>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}