{% extends "layouts/base_teach.html" %}

{% block title %} Dashboard {% endblock %} 

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">{% endblock stylesheets %}

{% block content %}

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Teacher ID</td>
            <td>Class ID</td>
            <td>Year of introduction</td>
            <td>Course ID</td>
            <td>
                <a href="{% url 'teacher_add_class' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for class in class_list %}
            <tr>
                <td>{{class.teacher_id}}</td>
                <td>{{class.class_id}}</td>
                <td>{{class.Year_of_introduction_of_class}}</td>
                <td>{{class.course_id}}</td>
                <td>
                    <form action="{% url 'teacher_class_delete' class.class_id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
                <td>
                <a href="{% url 'class_pdf_creation' class.class_id %}"
                <button class="btn btn-primary"><i class="fa fa-file-pdf-o"> | Create PDF</i>
                </button>
                </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}